
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">
    <title>Document</title>
</head>
<body>
    <h2>welcome to images</h2>
    <img src="{% static 'images/girl.png'  %}" alt="" height="200px">
    <img src="{% static 'images/girl.png'  %}" alt="" height="200px">
    <img src="{% static 'images/girl.png'  %}" alt="" height="200px">
    <img src="{% static 'images/girl.png'  %}" alt="" height="200px">
    <img src="{% static 'images/image4.jpeg'  %}" alt="" height="200px">
    <img src="{% static 'images/image4.jpeg'  %}" alt="" height="200px">
    <img src="{% static 'images/image4.jpeg'  %}" alt="" height="200px">
    <img src="{% static 'images/image4.jpeg'  %}" alt="" height="200px">
</body>
</html>